/* line 1, ../sass/map.scss */
#map-canvas {
  width: 100%;
  height: 500px;
}
/* line 5, ../sass/map.scss */
#map-canvas img {
  max-width: none !important;
}

@media screen and (max-width: 700px) {
  /* line 10, ../sass/map.scss */
  #map-canvas {
    height: 350px;
  }
}
